body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#main{
    margin: 0;
    padding: 0;
    background-image: url('../Images/3435236.jpg');
    flex-wrap: wrap;
}
#child:not(:first-child){
    flex: 1;
}
#child:nth-child(1){
    width: 100%;

}
.child{
    margin: 0;
    padding: 0;
}
#nav{
    background-color: rgb(46, 45, 45);
    filter: drop-shadow(0.5rem 0.5rem 0.4rem rgba(0, 0, 0, 0.5));
}
.h-8{
    height: 8%;
}
#camera-container{
    border-radius: 25px;
    border: 5px solid rgb(116, 116, 116);
    font-size: 10rem;
    color: aliceblue;
    background-color: rgba(46, 45, 45, 0.705);
}
#sensor-container{
    border-radius: 25px;
    border: 5px solid rgb(116, 116, 116);
    font-size: 2rem;
    color: aliceblue;
    gap: 0.5rem;
    background-color: rgba(46, 45, 45, 0.705);
}
.h-65{
    height: 65%;
}
.h-15{
    height: 15%;
}
.h-10{
    height: 10%;
}
#left-panel{
    gap: 2rem;
    padding-top: 5rem;
}
#right-panel{
    padding-top: 5rem;
    gap: 2rem;
}
#model-container{
    border-radius: 25px;
    border: 5px solid rgb(116, 116, 116);
    font-size: 2rem;
    color: aliceblue;
    background-color: rgba(46, 45, 45, 0.705);
}
#slider-container{
    border-radius: 25px;
    border: 5px solid rgb(116, 116, 116);
    font-size: 2rem;
    color: aliceblue;
    background-color: rgba(46, 45, 45, 0.705);
}
#controls-container{
    border-radius: 25px;
    border: 5px solid rgb(116, 116, 116);
    font-size: 2rem;
    color: aliceblue;
    background-color: rgba(46, 45, 45, 0.705);
}
.h-42{
    height: 42%;
}
#control-child:nth-child(1){
    flex: 1;
}
#control-child:nth-child(2) {
    flex-direction: row;
}
.control-buttons{
    width: 130px;
    height: 130px;
}
.control-buttons:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: rgb(116, 116, 116);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
.sensor-separator{
    border-radius: 5px;
    border: 1px solid rgb(116, 116, 116);
    font-size: 2rem;
    color: aliceblue;
    background-color: rgba(46, 45, 45, 0.705);
}